<% include partials/header.ejs %>

<% if(login) { %>
  <!--Upload form-->
  <div class="form-container">
    <div class="form">
      <form class="img-upload-form" action="/paintings?_method=POST" enctype="multipart/form-data" method="POST">
        <input type="text" placeholder="Description" name="description">
        <input type="file" placeholder="image" name="painting">
        <button class="submit-btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
<% } %>


<!--Populate gallery-->
<div class="gallery">
  <% for(var i=paintings.length-1; i>=0; i--) { %>
    <div class="painting">
      <div class="painting-img-container"><a href="/paintings/<%=paintings[i].index%>"><img src="<%= paintings[i].url %>"></a></div>
      
      <% if(login) { %>
        <div class="gal-editor">
          <form class="delete-form" action="/paintings/<%=paintings[i].index %>?_method=DELETE" method="POST">
             <button class="gal-btn delete-btn"><span class="ion-ios-trash"></span></button>
          </form>
          <% if(paintings[i].index <  paintings.length -1) { %>
            <form class="update-pos-form" action="/paintings/<%=paintings[i].index%>/1?_method=PUT" method="POST">
                <button class="gal-btn move-left"><span class="ion-android-arrow-back"></span></button>
            </form>
          <% } %>
          <% if(paintings[i].index > 0) { %>
            <form class="update-pos-form" action="/paintings/<%=paintings[i].index%>/-1?_method=PUT" method="POST">
                <button class="gal-btn move-right"><span class="ion-android-arrow-forward"></span></button>
            </form>
          <% } %>
        </div>
      <% } %>
    </div>
  <% } %>
</div>

<% include partials/footer.ejs %>